@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  max-width: 800px;
  background-color: whitesmoke;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manageContainer,
.overview-container,
.recommendation-container{
  width: 100%;
  min-height: 120vh;
  min-width: 100vw;
  padding: 1em;
  background-color: #f7f8fb;

}
/* 
css for form */
.formRow,
.formButton{
  margin: 1em;
}

.formCol {
  display: inline-block;
  width: 50%;
}

.formButton {
  display: flex;
  flex-direction: row-reverse;

}

.formButton button{
  margin:0;
}

/* CSS for card */


.card-container, .card-header-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5em;
  padding: 0.7em;
  border: 0.5px solid #f7f8fb;
  border-radius: 3px;
  background-color: #ffffff;

  font-size: 0.8em;
}

.card-header-container{
  height:3em;
  background-color: grey;
}

.popup-container{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  border: 0.5px solid grey;
  border-radius: 3px;
  background-color: orange;
  font-size: 0.8em;
}

.popup-container p{
  margin: 0.5em
}

.card-header-container p{
  margin: 0;
  font-size:1.1em;
}


.info-container,
.button-container,
.name-container,
.value-container,
.logo-name-header{
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: space-evenly;
  
}

.card-header-container .logo-name-header{
  width:55%;
  text-align: left;
  
}


.value-container{
  width: 30%;
  text-align: right;
}

.value{
  font-size: 1.2em;
  font-weight: 500;
}

.name-container{
  width: 35%;
  font-size: 1.2em;
}

.name-container label{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.name-container label:hover{
 
  overflow: visible;
  
} 

.name-container .symbol {
  font-size: 0.8em;
  opacity: 0.6;
}

.company-name{
  font-size: 0.8em;
}

.company-name input{
  width: 40%;
  font-size: 1em;
}
.info-container{
  text-align: center;
}
.info-container label{
  font-size: 1em;
}
.info-container input{
  width: 2em;
  height: 1.3em;
  border: 0.5px solid grey;
}

.info-container span{
  font-size: 0.8em;
}

.button-container{
  width: 15%;
  margin-left: 0.5em;
}

.button-container button{
  font-family: 'Roboto';
  font-size: 0.8em;
}

.logo-container{
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.logo-container img{
  flex-shrink: 0;
  max-width: 90%;
  max-height:90%
}

.gain-container{
  font-size: 0.8em;
  
}

.gain-positive {
  color:#397566;
}

.gain-negative {
  color: #b21e20
}



.icon-positive{
  background-image: url("./icon/triangle-16.png");
}
.icon-negative{
  background-image: url("./icon/triangle-red.png")
}


.icon{
height: 8px;
width: 8px;
display: inline-block;
background-repeat: no-repeat;
background-size: contain;
}
/* 
css for overview */
.overview-container h2 {
  text-align: center;
  font-family:"Roboto";
  margin: 1em;
}

.card-color {
  height:100%;
  width: 5px;
}

.hero{
  width: 100%;
  position: relative;
}
.total-value{
  display:flex;
  flex-direction: column;
  width: 50%;
  position: absolute;
  top:40%;
  left:25%;
  text-align: center;
}

.total-value label{
  font-size: 0.8em;
}

.total-value h3{
  margin:0;
}

.total-value .icon{
  height: 10px;
  width:10px;
}
/* css for chart */

.chart-container{
  width: 70%;
  margin:1em auto;
}

/* css for budget */

.budget-row{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em;
}

.budget-row label, .budget-row input{
  font-size: 1.5em;
  width: 3em;
}